<%- include('partials/header', {title: 'log-in', csssurce: 'css/startPage.css'}); %>


  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded selectNone" aria-label="Eleventh navbar example">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">RegMang</a>
        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          <li class="navbar-nav nav-item">
            <% let linkNam, href; %>
            <% if(regOrSign == 'Login') {linkNam = 'Sign up'; href = '/register.ejs';} else {linkNam = 'Sign in'; href = '/login.ejs'}%>
            <a class="nav-link" href="<%= href %>"><%= linkNam %></a>
          </li>
          <li class="navbar-nav nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </div>
      </div>
    </nav>
  </header>

  <div class="mainContainer text-center">
    <form class="form-signin" method="POST">
      <img class="mb-4" src="images/<%= imgSrc %>" alt="" width="72" height="72" />
      <h1 class="h3 mb-3 font-weight-normal selectNone">Please <%= regOrSign %></h1>
      <input type="text" id="inputEmail" class="form-control" placeholder="username" name="username" required autofocus  />
      <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required/>
      <br />
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        <%= regOrSign %>
      </button>
    </form>
  </div>

<%- include("partials/footer") -%>